a{
    text-decoration: none;
}

.active{
    background-color: rgb(22, 22, 22);
}


.container{
    width: 70%;
    margin-top: 100px;
    align-content: center;
}

.col-sm-4{
    padding: 0px; 
}

.col-sm-8{
    padding: 0px;
}

.card{
    
    background-color: black;
    border-style: none;
    border-radius: 0px;
    height: 600px;
}

.card-title{
    height: 50px;
    color: tomato;
    padding: 20px;
}

.card-title a{
    color: crimson;
    margin-right: 20px;
    font-size: 30px;
}

.card-body{
    height: 485px;
    padding: 0px;
    margin-bottom: 20px;
}

.card-body-2{
    margin: auto;
    height: 65px;
}

.col-sm-8 .card .card-body{
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    border-radius: 6px;
    background-color: rgb(22, 22, 22);
}



.list{
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(235, 235, 235);
    margin-left: 10%;
    width: 90%;
    height: 40px;
    font-size: large;
}

.list:hover{
    background-color: rgb(75, 75, 75);
}

.subject-body-topic{
    /* text-align: center; */
    margin: 10px;
    font-size: large;
    color: white;
}

.subject-body-topic hr{
    background-color: black;
    width: 100%;
}

.subject-body{
    /* background-color: turquoise; */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 20px;
    font-size: large;
    color: thistle;
}

.subject-body hr{
    margin-bottom : 0px;
    margin-top : 8px;
    width: 90%;
    background-color: black;
}

/* remove button */
.subject-body button{
    border-style: none;
    background-color: transparent;
    font-size: large;
    color: crimson;
}





.btn{
    width: 150px;
    border-radius: 20px;
    color: black;
    background-color: crimson;
}



.scrollbar {
    max-height: 600px;

    overflow-y: scroll;
}

.scrollbar-primary::-webkit-scrollbar {
    width: 2px;
    background-color: rgb(0, 0, 0); 
}
        
.scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(207, 207, 207);
}
        
.scrollbar-primary {
    scrollbar-color: rgb(255,rgb(0, 0, 0)55) rgb(207, 207, 207);
}