<div class="container">
    <div class="row">
        <div class="col-sm-4 ">
            <div class="card">
                <h5 class="card-title">Student List</h5>

                <div  class="card-body scrollbar scrollbar-primary ">   
                    <a class="list" *ngFor="let student of student" [routerLink]="['/students', student._id]" routerLinkActive="active" >{{student.name}}</a>
                </div>

                <div class="card-body-2">
                    <!-- <button class="btn" type="submit">Add Student</button> -->
                    <app-add-student></app-add-student>
                </div>

            </div>
        </div>


        <div class="col-sm-8">
            <div class="card">
                <h5 class="card-title">Subjects & Marks <a href="#" class="float-right">+</a> </h5>
                <div class="card-body scrollbar scrollbar-primary">
                    <div class="subject-body-topic">
                        <div class="d-inline pl-2 ">Subjects</div>
                        <div class="d-inline pr-4 float-right">Marks</div>
                        <hr>
                    </div>
                    <div class="subject-body" *ngFor="let subject of subject">
                        <div class="d-inline">{{subject.subjectName}}</div>
                        <button class="d-inline float-right pl-2 pr-3 "><i class="fa fa-trash"></i></button>
                        <div class="d-inline float-right pr-3 ">{{subject.marks}}</div>
                        
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>