<!-- Button trigger modal -->
<button type="button" class="btn" data-toggle="modal" data-target="#addStudent">
    Add Student
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="addStudent"  role="dialog" >
    <div class="modal-dialog modal-dialog-centered" >
      <div class="modal-content ">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add Student</h5>
          <button type="button" class="close" data-dismiss="modal" >
            <span class="close-btn" aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
            <div>
                <form action="">
                    <span>Name : </span>
                    <input  type="text" name="name">
                </form>
            </div>
            <div class="  d-flex justify-content-center">
                <button type="button" class="btn">Save changes</button>
            </div>
          
        </div>

      </div>
    </div>
  </div>
