.btn{
    width: 150px;
    border-radius: 20px;
    color: black;
    background-color: crimson;
}

form{
    margin: auto;
    padding-bottom: 20px;
}

/* span{
    color: white;
} */

input{
    /* color: white;
    box-shadow: 0px;
    border-color: rgb(170, 170, 170);
    border-width: 1px; */
    width: 300px;
}

/* .modal-title{
    color: white;
} */

.modal-content{
    background-color: rgb(224, 224, 224);
    width: max-content;
}


/* .close-btn{
    border-style: none;
    color: crimson;
} */