/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body{
    background-color: rgb(204, 204, 204);
    font-family: 'Open Sans', sans-serif;
}

